 body{
  font-family: 'Saira Extra Condensed', sans-serif;
  color: black;
  background-color: #070514;
  font-weight: 200;
}
h1 {
  transform: skewY(-30deg);
  font-size: 4vw;
  padding: 1.2vw;
  border-left: white 1px solid;
 
}
img{
  height:100%;
  transform: rotateZ(-60deg) skewY(30deg);

}
p {
  font-size: 2.4vw;
  padding: 1.5vw 1vw 1vw 1vw;
  margin-bottom: 1px;
}
  .leftHolder {
  display:grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, 5vw);
  grid-auto-rows: 2.88675vw;
  padding-bottom: 4%;
}
.leftHolder > *{
  transform-origin: top left;
  background-color: transparent;
  line-height: 120%;
}
.leftHolder > *:nth-child(1), .lTitle{
grid-column-start: 5;
grid-row-start: 5;
grid-column-end: span 5;
grid-row-end: span 6;
/*transform: rotateZ(-60deg) skewY(30deg);*/
background-color: white;
}

.leftHolder > *:nth-child(2), .lStatements{
  grid-column-start: 13;  
      grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 7;  
  transform: rotateZ(360deg) skewY(-30deg);
background-color: red;
}


.leftHolder > *:nth-child(3){
 grid-column-start: 10;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 7;
transform: rotateZ(360deg) skewY(30deg);
font-size: 17px;
box-shadow: 0 0 30px white;
background-color: yellow;
}

.leftHolder > *:nth-child(4){
grid-column-start: 5;
grid-row-start: 15;
grid-column-end: span 5;
grid-row-end: span 6;
transform: rotateZ(-60deg) skewY(30deg);
box-shadow: 0 0 30px white;
background-color: yellow;
}

.leftHolder > *:nth-child(5){
  grid-column-start: 8;  
  grid-row-start: 18;  
  grid-column-end: span 4;  
  grid-row-end: span 4;  
    transform: skewY(330deg);
    box-shadow: 0 0 30px white;
}

.leftHolder > *:nth-child(6){
grid-column-start: 4;
    grid-row-start: 17;
    grid-column-end: span 8;
    grid-row-end: 26;
transform: rotateZ(360deg) skewY(30deg);
box-shadow: 0 0 30px white;
}
.leftHolder > *:nth-child(7){
  grid-column-start: 11;  
  grid-row-start: 32;  
  grid-column-end: span 4;
transform: rotateZ(-60deg) skewY(30deg);
background-color: green;
box-shadow: 0 0 30px white;
}

.rightHolder {
  display:grid;
  width: 100%;
  height: 100%;
  overflow: visible;
  grid-template-columns: repeat(auto-fill, 5vw);
  grid-auto-rows: 2.88675vw;
  padding-bottom: 4%;
  margin-top: -13%;
}
.rightHolder > *{
  transform-origin: top left;
  background-color: transparent;
  line-height: 120%;
  transform:scale(-1, -1);
}
.rightHolder > *:nth-child(4){
grid-column-start: 10;
grid-row-start: 16;
grid-column-end: span 5;
grid-row-end: span 8;
transform: rotateY(-180deg) skewY(30deg);
background-color: white;

}

.rightHolder > *:nth-child(2){
  grid-column-start: 7;  
      grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 7;  
  transform: rotateZ(360deg) skewY(-30deg);
background-color: red;
}


.rightHolder > *:nth-child(1){
 grid-column-start: 10;
    grid-column-end: span 6;
    grid-row-start: 2;
    grid-row-end: span 7;
transform: rotateZ(360deg) skewY(30deg);
box-shadow: 0 0 30px white;
background-color: yellow;
}

.rightHolder > *:nth-child(3){
grid-column-start: 5;
grid-row-start: 15;
grid-column-end: span 5;
grid-row-end: span 6;
transform: rotateZ(-60deg) skewY(30deg);
box-shadow: 0 0 30px white;
background-color: yellow;
font-size: 17px;
}

.rightHolder > *:nth-child(5){


grid-column-start: 14;
grid-row-start: 7;
grid-column-end: span 8;
grid-row-end: 26;
  transform: skewY(330deg);
    box-shadow: 0 0 30px white;
}

.rightHolder > *:nth-child(6){
  grid-column-start: -14;  
  grid-row-start: 14;  
  grid-column-end: span 4;  
  grid-row-end: span 6; 
transform: rotateZ(360deg) skewY(30deg);
box-shadow: 0 0 30px white;
}
.rightHolder > *:nth-child(7){
  grid-column-start: 4;  
  grid-row-start: 23;  
  grid-column-end: span 4;
  grid-row-end: span 4;
transform: rotateZ(360deg) skewY(30deg);
background-color: green;
box-shadow: 0 0 30px white;
}