.main{
	width:90%;
	height: 100%;
	display: inline-block;
	padding-top: 50%;
}

ul {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

/*img {
    display: block;
    max-width: 100%;
}
*/
.galeria {
    width:  90%;
    height: 100%;
    margin: 10px auto;
    background-color: transparent;
}

.galeria li {
   width: calc(80% / 5);
  float: left;
  margin: 30px;
    filter: brightness(30%);

  position: relative;
}

.galeria li:hover{
	filter: brightness(100%);
}
a{
	    text-decoration: none !important;
}

