html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  
}
#page_middle{
  width: 100%;
    display: flex;
    flex-grow: 1;
}

@font-face {
  font-family: myTinyFont;
  src: url(TINY5x3-140.otf);
}

a {
  font-family: myTinyFont;
  fony-size: 40 px;
}
.circles{
    height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  
}


.centerButton{
  height: 50px;
  width: 50px;
  position: absolute;
  top:1vh;
   right:1vw;
   border-radius: 50%;
/*    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;*/
   
/*  display: inline-block;
  background-image: url("images/waww.png");*/
}
.centerButton:hover{
  box-shadow: 12px 12px 2px 1px rgba(100, 100, 100, .5);
 border: 2px solid black;

}