html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  
}

@font-face {
  font-family: myTinyFont;
  src: url(TINY5x3-140.otf);
}

a {
  font-family: myTinyFont;
  font-size: 40 px;
}
.circles{
    height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  
}

